In [1]:
import pandas as pd 

df = pd.read_csv('WHRFinal.csv')

In [6]:
# creating 
df.columns = df.columns.str.strip()

In [10]:
df.describe()

,year,happiness_rank,happiness_score,gdp,social_support,life_expectancy,freedom,generosity,corruption
count,1362.000000,1362.000000,1362.000000,1362.000000,1362.000000,1362.000000,1362.000000,1362.000000,1362.000000
mean,2018.903084,76.596182,5.440554,1.018017,1.045228,0.583435,0.451150,0.196381,0.132210
std,2.563980,44.108242,1.118747,0.452866,0.331536,0.244796,0.156494,0.113493,0.112682
min,2015.000000,1.000000,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.000000,38.250000,4.597750,0.696250,0.832000,0.402250,0.356000,0.115000,0.057000
50%,2019.000000,76.500000,5.431000,1.040000,1.083000,0.611500,0.468000,0.183000,0.097000
75%,2021.000000,114.000000,6.257250,1.338000,1.301000,0.777000,0.569750,0.253000,0.166000
max,2023.000000,158.000000,7.842000,2.209000,1.644000,1.141000,0.772000,0.838000,0.587000

In [8]:
# to fill the missing_value

mean_value = df['Life Expectancy'].mean()

df['Life Expectancy'] = df['Life Expectancy'].fillna(mean_value)

In [11]:
df.columns = df.columns.str.lower()

df.columns = df.columns.str.replace(' ','_')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1362 entries, 0 to 1361
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          1362 non-null   object
 1   year             1362 non-null   int64
 2   region           1362 non-null   object
 3   happiness_rank   1362 non-null   int64
 4   happiness_score  1362 non-null   float64
 5   gdp              1362 non-null   float64
 6   social_support   1362 non-null   float64
 7   life_expectancy  1362 non-null   float64
 8   freedom          1362 non-null   float64
 9   generosity       1362 non-null   float64
 10  corruption       1362 non-null   float64
dtypes: float64(7), int64(2), object(2)
memory usage: 117.2+ KB

In [13]:
# creatting new column (Happiness_Level)

labels = ['Low', 'Medium', 'High']

df['happiness_level'] = pd.qcut(df['happiness_score'], q=3 , labels= labels)

In [14]:
df[['happiness_rank', 'happiness_level']].head(20)

    happiness_rank happiness_level
0              137             Low
1              141             Low
2              145             Low
3              146             Low
4              149             Low
5              153             Low
6              153             Low
7              154             Low
8              154             Low
9               83          Medium
10              90          Medium
11              93          Medium
12              95          Medium
13             105             Low
14             107             Low
15             109             Low
16             109             Low
17             112             Low
18              38            High
19              53          Medium

In [15]:
# creatting new column (INCOME_GROUP)
label = ['low_income', 'middl_income', 'high_income']

df['income_group'] = pd.qcut(df['gdp'], q=3 , labels=label)

In [17]:
df.to_csv("cleane_happiness.csv", index=False)

In [18]:
pip install  psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\am computer\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\am computer\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\am computer\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\am computer\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [23]:
# CONNECT TO POSTGRESQL 

import psycopg2
from sqlalchemy import create_engine

dbname="world_happiness" #the database you created in postgrsql
user="postgres"       # your PostgreSQL username
password="Pakistan"
host="localhost"  # if your are running locally
port="5432"

engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}")

# Upload your existing df to PostgreSQL
table_names = "happiness_data"
df.to_sql(table_names, engine ,index=False, if_exists='replace')

print(f"Data successfully loaded into table  {'tabel_names'} in databse '{dbname}'")

Data successfully loaded into table  tabel_names in databse 'world_happiness'